.idea/
.gradle/
build/
out/
*.iml

/app/src/main/resources/application-local.yml
/app/src/main/resources/application-prod.yml
/app2/src/main/resources/application-local.yml
/app2/src/main/resources/application-prod.yml
